In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
labels = ['Felix','Hud','Abiral']
my_list = [1,4,5]
arr = np.array([1,4,5])
d = {'Felix':1,'Hud':4,'Abiral':5}

In [3]:
pd.Series(data=my_list)

0    1
1    4
2    5
dtype: int64

In [4]:
print("Familarity With Python")
pd.Series(data=my_list,index=labels)

Familarity With Python

Felix     1
Hud       4
Abiral    5
dtype: int64

In [5]:
pd.Series(data = arr)

0    1
1    4
2    5
dtype: int32

In [6]:
pd.Series(arr,labels)

Felix     1
Hud       4
Abiral    5
dtype: int32

In [7]:
ser = pd.Series(d)
ser

Felix     1
Hud       4
Abiral    5
dtype: int64

In [8]:
pd.Series(data=labels)

0     Felix
1       Hud
2    Abiral
dtype: object

In [9]:
ser['Hud']

4

In [10]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])        
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])     
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [12]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [13]:
ser1.add(ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [14]:
df = pd.DataFrame(randn(5,4),index=('A', 'B' ,'C','D','E'),columns='W X Y Z'.split())

In [15]:
df

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
type(df['W'])

pandas.core.series.Series

In [18]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -0.351455 -0.947414  2.829707  1.638813  2.478252
B  0.434319  0.181258  0.497771  1.358045  0.932090
C -0.193930 -0.515918 -0.108634 -0.205200 -0.302565
D  0.202820 -1.979712 -0.753096 -0.263115 -0.550276
E -1.777072  0.278339  0.320542  1.525228 -1.456530

In [19]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [20]:
df

          W         X         Y         Z       new
A -0.351455 -0.947414  2.829707  1.638813  2.478252
B  0.434319  0.181258  0.497771  1.358045  0.932090
C -0.193930 -0.515918 -0.108634 -0.205200 -0.302565
D  0.202820 -1.979712 -0.753096 -0.263115 -0.550276
E -1.777072  0.278339  0.320542  1.525228 -1.456530

In [21]:
df.drop('new',axis=1,inplace=True)

In [22]:
df

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [23]:
df.drop('C',axis=0)

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [24]:
df

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [25]:
# df.loc?

In [26]:
df

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228

In [27]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [28]:
df.loc['A']

W   -0.351455
X   -0.947414
Y    2.829707
Z    1.638813
Name: A, dtype: float64

In [29]:
df.loc['B','Y']

0.4977706577148807

In [30]:
df.loc[['A','B'],['W']]

          W
A -0.351455
B  0.434319

In [31]:
df.loc['A':'D','W':'Y']

          W         X         Y
A -0.351455 -0.947414  2.829707
B  0.434319  0.181258  0.497771
C -0.193930 -0.515918 -0.108634
D  0.202820 -1.979712 -0.753096

In [32]:
df.loc[df.W>0,:]

          W         X         Y         Z
B  0.434319  0.181258  0.497771  1.358045
D  0.202820 -1.979712 -0.753096 -0.263115

In [33]:
df.loc[:,'Y']

A    2.829707
B    0.497771
C   -0.108634
D   -0.753096
E    0.320542
Name: Y, dtype: float64

In [34]:
df

          W         X         Y         Z
A -0.351455 -0.947414  2.829707  1.638813
B  0.434319  0.181258  0.497771  1.358045
C -0.193930 -0.515918 -0.108634 -0.205200
D  0.202820 -1.979712 -0.753096 -0.263115
E -1.777072  0.278339  0.320542  1.525228