In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
labels = ['Felix','Hud','Abiral']
my_list = [1,4,5]
arr = np.array([1,4,5])
d = {'Felix':1,'Hud':4,'Abiral':5}

In [3]:
pd.Series(data=my_list)

0    1
1    4
2    5
dtype: int64

In [4]:
print("Familarity With Python")
pd.Series(data=my_list,index=labels)

Familarity With Python

Felix     1
Hud       4
Abiral    5
dtype: int64

In [5]:
pd.Series(data = arr)

0    1
1    4
2    5
dtype: int32

In [6]:
pd.Series(arr,labels)

Felix     1
Hud       4
Abiral    5
dtype: int32

In [7]:
ser = pd.Series(d)
ser

Felix     1
Hud       4
Abiral    5
dtype: int64

In [8]:
pd.Series(data=labels)

0     Felix
1       Hud
2    Abiral
dtype: object

In [9]:
ser['Hud']

4

In [10]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])        
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])     
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64