In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
labels = ['Felix','Hud','Abiral']
my_list = [1,4,5]
arr = np.array([1,4,5])
d = {'Felix':1,'Hud':4,'Abiral':5}

In [3]:
pd.Series(data=my_list)

0    1
1    4
2    5
dtype: int64

In [4]:
print("Familarity With Python")
pd.Series(data=my_list,index=labels)

Familarity With Python

Felix     1
Hud       4
Abiral    5
dtype: int64

In [5]:
pd.Series(data = arr)

0    1
1    4
2    5
dtype: int32

In [6]:
pd.Series(arr,labels)

Felix     1
Hud       4
Abiral    5
dtype: int32

In [7]:
ser = pd.Series(d)
ser

Felix     1
Hud       4
Abiral    5
dtype: int64

In [8]:
pd.Series(data=labels)

0     Felix
1       Hud
2    Abiral
dtype: object

In [9]:
ser['Hud']

4

In [10]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])        
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])     
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [12]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [13]:
ser1.add(ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [14]:
df = pd.DataFrame(randn(5,4),index=('A', 'B' ,'C','D','E'),columns='W X Y Z'.split())

In [15]:
df

          W         X         Y         Z
A  0.121321  0.032084  0.041974 -0.922796
B  0.296789 -1.010397 -0.649152  0.484691
C -0.478013  0.889051  1.695495 -1.503438
D -1.017002 -0.635059  0.397491  0.066277
E -0.792717 -0.606503 -1.511699 -0.344277