In [1]:
print("Hello World")

Hello World

In [2]:
# Variables
rent = 3500
khana = 100
lunch = 200
khana

100

In [3]:
item1 = "rent"
item2 ="dinner"
item3 ="lunch"
# Difference between displaying with print and without is the out
print("Expense Items:",item1,item2,item3)
item1

Expense Items: rent dinner lunch

'rent'

In [5]:
total = rent + 10*khana + 20*lunch
total

8500

In [6]:
item1[0]

'r'

In [7]:
item1[1:]

'ent'

In [8]:
item1[:3]

'ren'

In [9]:
tweet ='UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."#AI #digitization #DigitAll #RingTheBell #genderequality #womenempowerment #techforgood'
tweet.split('#')

['UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."',
 'AI ',
 'digitization ',
 'DigitAll ',
 'RingTheBell ',
 'genderequality ',
 'womenempowerment ',
 'techforgood']

In [10]:
text = 'let"s learn Machine Learning'
print(text)
text

let"s learn Machine Learning

'let"s learn Machine Learning'

In [11]:
another_text = '"let\'s learn python first" -said Felix '
print(another_text)

"let's learn python first" -said Felix

In [12]:
address ='''28-kilo 
Dhulikhel
Kavre
'''
print(address)
address

28-kilo
Dhulikhel
Kavre

'28-kilo \nDhulikhel\nKavre\n'

In [13]:
num = 69
num = input("Enter a number: ")

type(num)

Enter a number: 54

str

In [14]:
num =42
float(num)

42.0

In [15]:
s = 'total states in Nepal is: '
num =7
s + str(num)

'total states in Nepal is: 7'

In [1]:
distance = 28
speed = 18
time = distance/speed
time

1.5555555555555556

In [2]:
round(time,2)

1.56

In [3]:
6-5.7
#Accuracy and precision problem

0.2999999999999998

In [6]:
#logical
num=7
num = int(num)
if num  == 0:
    print("Zero")
elif num %2 ==0:
    print("Even")
else:
    print("odd")

odd

In [7]:
3 > 2 and 4>1

True

In [8]:
3>2 and 3 ==2

False

In [9]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4==4:
    print("Second Last")
else:
    print('Last')

middle