In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
labels = ['Felix','Hud','Abiral']
my_list = [1,4,5]
arr = np.array([1,4,5])
d = {'Felix':1,'Hud':4,'Abiral':5}

In [8]:
pd.Series(data=my_list)

0    1
1    4
2    5
dtype: int64

In [9]:
print("Familarity With Python")
pd.Series(data=my_list,index=labels)

Familarity With Python

Felix     1
Hud       4
Abiral    5
dtype: int64

In [10]:
pd.Series(data = arr)

0    1
1    4
2    5
dtype: int32

In [11]:
pd.Series(arr,labels)

Felix     1
Hud       4
Abiral    5
dtype: int32

In [12]:
ser = pd.Series(d)
ser

Felix     1
Hud       4
Abiral    5
dtype: int64

In [13]:
pd.Series(data=labels)

0     Felix
1       Hud
2    Abiral
dtype: object

In [14]:
ser['Hud']

4

In [15]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])        
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])     
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [18]:
ser1.add(ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [19]:
df = pd.DataFrame(randn(5,4),index=('A', 'B' ,'C','D','E'),columns='W X Y Z'.split())

In [20]:
df

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
type(df['W'])

pandas.core.series.Series

In [23]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -1.271638 -0.174939 -0.175718  0.089268 -1.447356
B -0.481625 -0.760792  0.581102  0.290476  0.099477
C  2.415025  0.687367 -0.019631  1.520333  2.395395
D  0.720229 -1.167504 -0.771336 -0.267524 -0.051107
E -0.916781 -1.718325 -0.055482 -0.295870 -0.972262

In [24]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [25]:
df

          W         X         Y         Z       new
A -1.271638 -0.174939 -0.175718  0.089268 -1.447356
B -0.481625 -0.760792  0.581102  0.290476  0.099477
C  2.415025  0.687367 -0.019631  1.520333  2.395395
D  0.720229 -1.167504 -0.771336 -0.267524 -0.051107
E -0.916781 -1.718325 -0.055482 -0.295870 -0.972262

In [26]:
df.drop('new',axis=1,inplace=True)

In [27]:
df

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [28]:
df.drop('C',axis=0)

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [29]:
df

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [30]:
# df.loc?

In [31]:
df

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [32]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [33]:
df.loc['A']

W   -1.271638
X   -0.174939
Y   -0.175718
Z    0.089268
Name: A, dtype: float64

In [34]:
df.loc['B','Y']

0.5811015083485953

In [35]:
df.loc[['A','B'],['W']]

          W
A -1.271638
B -0.481625

In [36]:
df.loc['A':'D','W':'Y']

          W         X         Y
A -1.271638 -0.174939 -0.175718
B -0.481625 -0.760792  0.581102
C  2.415025  0.687367 -0.019631
D  0.720229 -1.167504 -0.771336

In [37]:
df.loc[df.W>0,:]

          W         X         Y         Z
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524

In [38]:
df.loc[:,'Y']

A   -0.175718
B    0.581102
C   -0.019631
D   -0.771336
E   -0.055482
Name: Y, dtype: float64

In [39]:
df

          W         X         Y         Z
A -1.271638 -0.174939 -0.175718  0.089268
B -0.481625 -0.760792  0.581102  0.290476
C  2.415025  0.687367 -0.019631  1.520333
D  0.720229 -1.167504 -0.771336 -0.267524
E -0.916781 -1.718325 -0.055482 -0.295870

In [40]:
df.iloc[2]

W    2.415025
X    0.687367
Y   -0.019631
Z    1.520333
Name: C, dtype: float64

In [41]:
df.iloc[[2,4],1]

C    0.687367
E   -1.718325
Name: X, dtype: float64