In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
labels = ['Felix','Hud','Abiral']
my_list = [1,4,5]
arr = np.array([1,4,5])
d = {'Felix':1,'Hud':4,'Abiral':5}

In [7]:
pd.Series(data=my_list)

0    1
1    4
2    5
dtype: int64

In [8]:
print("Familarity With Python")
pd.Series(data=my_list,index=labels)

Familarity With Python

Felix     1
Hud       4
Abiral    5
dtype: int64

In [9]:
pd.Series(data = arr)

0    1
1    4
2    5
dtype: int32

In [10]:
pd.Series(arr,labels)

Felix     1
Hud       4
Abiral    5
dtype: int32

In [11]:
ser = pd.Series(d)
ser

Felix     1
Hud       4
Abiral    5
dtype: int64

In [12]:
pd.Series(data=labels)

0     Felix
1       Hud
2    Abiral
dtype: object

In [13]:
ser['Hud']

4

In [14]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])        
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])     
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [17]:
ser1.add(ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [18]:
df = pd.DataFrame(randn(5,4),index=('A', 'B' ,'C','D','E'),columns='W X Y Z'.split())

In [19]:
df

          W         X         Y         Z
A -0.060525  1.259926  0.938743  0.557158
B  0.974488 -0.357191  2.724672  0.864654
C -0.050878 -0.648072  0.385297  0.051328
D  0.934506 -0.209292  0.035504  0.650735
E  0.015595 -0.642614  1.203316  0.709422

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
type(df['W'])

pandas.core.series.Series

In [22]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -0.060525  1.259926  0.938743  0.557158  0.878218
B  0.974488 -0.357191  2.724672  0.864654  3.699160
C -0.050878 -0.648072  0.385297  0.051328  0.334419
D  0.934506 -0.209292  0.035504  0.650735  0.970010
E  0.015595 -0.642614  1.203316  0.709422  1.218911

In [23]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.060525  1.259926  0.938743  0.557158
B  0.974488 -0.357191  2.724672  0.864654
C -0.050878 -0.648072  0.385297  0.051328
D  0.934506 -0.209292  0.035504  0.650735
E  0.015595 -0.642614  1.203316  0.709422