In [1]:
print("Hello World")

Hello World

# Variables

In [2]:
# Variables
rent = 3500
khana = 100
lunch = 200
khana

100

In [3]:
item1 = "rent"
item2 ="dinner"
item3 ="lunch"
# Difference between displaying with print and without is the out
print("Expense Items:",item1,item2,item3)
item1

Expense Items: rent dinner lunch

'rent'

In [5]:
total = rent + 10*khana + 20*lunch
total

8500

# Strings

In [6]:
item1[0]

'r'

In [7]:
item1[1:]

'ent'

In [8]:
item1[:3]

'ren'

In [9]:
tweet ='UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."#AI #digitization #DigitAll #RingTheBell #genderequality #womenempowerment #techforgood'
tweet.split('#')

['UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."',
 'AI ',
 'digitization ',
 'DigitAll ',
 'RingTheBell ',
 'genderequality ',
 'womenempowerment ',
 'techforgood']

In [10]:
text = 'let"s learn Machine Learning'
print(text)
text

let"s learn Machine Learning

'let"s learn Machine Learning'

In [11]:
another_text = '"let\'s learn python first" -said Felix '
print(another_text)

"let's learn python first" -said Felix

In [12]:
address ='''28-kilo 
Dhulikhel
Kavre
'''
print(address)
address

28-kilo
Dhulikhel
Kavre

'28-kilo \nDhulikhel\nKavre\n'

# Inputs

In [13]:
num = 69
num = input("Enter a number: ")

type(num)

Enter a number: 54

str

In [14]:
num =42
float(num)

42.0

In [15]:
s = 'total states in Nepal is: '
num =7
s + str(num)

'total states in Nepal is: 7'

# Operators

In [1]:
distance = 28
speed = 18
time = distance/speed
time

1.5555555555555556

In [2]:
round(time,2)

1.56

In [3]:
6-5.7
#Accuracy and precision problem

0.2999999999999998

# Logical

In [6]:
#logical
num=7
num = int(num)
if num  == 0:
    print("Zero")
elif num %2 ==0:
    print("Even")
else:
    print("odd")

odd

In [7]:
3 > 2 and 4>1

True

In [8]:
3>2 and 3 ==2

False

In [9]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4==4:
    print("Second Last")
else:

    print('Last')

middle

# LOOPs:


item1 = "rent"
item2 ="dinner"
item3 ="lunch"
costs =[3500,6000,3000,4000,2000]
items =[item1,item2,item3]

print(items)
items+costs

In [2]:
len(costs)

5

In [3]:
costs

[3500, 6000, 3000, 4000, 2000]

In [4]:
sum = 0
for cost in costs:
    sum += cost
print(sum)

18500

In [6]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# To print 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
i=1
while i<=5 :
    print(i)
    i=i+1

1
2
3
4
5

In [10]:
"""Print square of all numbers between 1 to 10 except even numbers"""
for i in range(1,11):
    if i % 2 == 0:
        break
    else:
        print(i)

1

In [11]:
"""Print square of all numbers between 1 to 10 except even numbers"""
for i in range(1,11):
    if i % 2 == 0:
        break
    else:
        print(i)
else:
    print("Finished")

1

In [12]:
items[0]
for i in items[0]:
    print(i)

r
e
n
t

# Functions

In [1]:
def calculate_area(dimension1,dimension2,shape="triangle"):
    ''' documentation string
    :param dimension1: In case of triangle it is "base". For rectangle it is "length".
    :param dimension2: In case of triangle it is "height". For rectangle it is "width".
    :param shape: Either "triangle" or "rectangle"
    :return: Area of a shape
    '''
    if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
    elif shape=="rectangle":
        area=dimension1*dimension2 # Rectangle area is: Length*Width
    else:
        print("***Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
    return area

# Calculate area of triangle whose base is 10 and height is 5
base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

Area of triangle is: 25.0

In [2]:
rectangle_area=calculate_area(10,2,"rectangle")
print("Area of triangle is:",rectangle_area)

Area of triangle is: 20

In [3]:
#Default Parameter
def add_and_multiply(n1=0,n2=0):
    '''
    Exercise 2
    :param n1: Number 1
    :param n2: Number 2
    :return: a tuple containing sum and multiplication of two input numbers
    '''
    sum = n1 + n2
    mult = n1 * n2
    return sum, mult

In [4]:
add_and_multiply()

(0, 0)

In [5]:
def age_dictionary():
    # Document String
    '''
    Exercise 1
    This program asks for person name and age and builds a dictionary using that
    Later on you can input person name and it will tell you the age of that person
    :return:
    '''
    d = {}
    while True:
        person = input("Enter name of the person(To stop don't enter anything and hi Enter key):")
        if person == '':
            break
        age = input("Enter age:")
        d[person] = age
        print("Dictionary till now {}".format(d))
    print("Building dictionary is complete.Now enter name of the person and I'll tell you his/her age")
    while True:
        name = input("Enter name of the person(To stop don't enter anything and hi Enter key):")
        if name == '':
            break
        if name in d:
            print ("Age of", name, "is:", d[name])
        else:
            print ("I don't know the age of",name)
    print ("Age dictionary program is finished now")

In [6]:
def last_participant(instructor,*participant):
    
#     print(type(participant))
    print("The instructor is ",instructor)
    print("The last participant is " + participant[-1])

last_participant("Anish","Suraj", "Sushan", "Samman")

The instructor is  Anish
The last participant is Samman

In [7]:
list_participant =["Suraj", "Sushan", "Samman"]
last_participant(*list_participant)

The instructor is  Suraj
The last participant is Samman

In [8]:
# If the arguments to be be passed are unknown 
def last_participant(instructor,*participant,**heros):
    
#     print(type(participant))
    print("The instructor is ",instructor)
    print("The last participant is " + participant[-1])
    
    print("\n Now meet the heros behind the workshop")
    print(f"{heros['club']},{heros['coordinator']}")

    
last_participant("Anish","Suraj", "Sushan", "Samman",coordinator ='Adarsha',club='KUOSC')

The instructor is  Anish
The last participant is Samman

 Now meet the heros behind the workshop
KUOSC,Adarsha

# CLASS

In [1]:
class Clown:
    def __init__(self, name, tricks):
        self.name = name
        self.tricks = tricks

    def introduce(self):
        print(f"Hi, my name is {self.name} and I'm a clown!")
    
    def perform_tricks(self):
        print(f"Get ready for my amazing tricks!")
        for trick in self.tricks:
            print(f"*{trick}*")

clown1 = Clown("Bob", ["juggling", "balloon animals", "seltzer spray"])
clown1.introduce()
clown1.perform_tricks()

Hi, my name is Bob and I'm a clown!
Get ready for my amazing tricks!
*juggling*
*balloon animals*
*seltzer spray*


# LIST

In [5]:
x=[1,2,3,4]
out =[]
for num in x:
    out.append(num**2)
out

[1, 4, 9, 16]

# Dictionary

In [6]:
d={"Microprocessor":'Gajendra Sharma',"MCSC":"Gokul","DSA":"Deni","DBMS":"Rajani"}
d

{'Microprocessor': 'Gajendra Sharma',
 'MCSC': 'Gokul',
 'DSA': 'Deni',
 'DBMS': 'Rajani'}

In [7]:
d['DBMS']

'Rajani'

In [8]:
for key in d:
    print("key:",key,"value:",d[key])

key: Microprocessor value: Gajendra Sharma
key: MCSC value: Gokul
key: DSA value: Deni
key: DBMS value: Rajani

In [9]:
d.items()

dict_items([('Microprocessor', 'Gajendra Sharma'), ('MCSC', 'Gokul'), ('DSA', 'Deni'), ('DBMS', 'Rajani')])

In [10]:
d.values()

dict_values(['Gajendra Sharma', 'Gokul', 'Deni', 'Rajani'])

In [11]:
d.keys()

dict_keys(['Microprocessor', 'MCSC', 'DSA', 'DBMS'])

In [12]:
'tom'in d

False

In [2]:
>>> names = {'President': 'Ram Chandra Paudel', 'Prime Minister': 'Pushpa Kamal Dahal', 'Education Minister': 'Ashok Kumar Rai', 'Tourism Minister': 'Sudan Kirati', 'DU': 'Kyrie'}
>>> 
>>> for key,value in names.items() :
...     print('The key "' + key + '" maps to the value "' + value + '"')

The key "President" maps to the value "Ram Chandra Paudel"
The key "Prime Minister" maps to the value "Pushpa Kamal Dahal"
The key "Education Minister" maps to the value "Ashok Kumar Rai"
The key "Tourism Minister" maps to the value "Sudan Kirati"
The key "DU" maps to the value "Kyrie"

In [3]:
names.pop('DU')

'Kyrie'

In [4]:
names

{'President': 'Ram Chandra Paudel',
 'Prime Minister': 'Pushpa Kamal Dahal',
 'Education Minister': 'Ashok Kumar Rai',
 'Tourism Minister': 'Sudan Kirati'}

In [5]:
a = [['A',4], ['B',5], ['C',11]]
dict(a)

{'A': 4, 'B': 5, 'C': 11}

In [6]:
d={'k1':[1,23]}
my_list = d['k1']
my_list

[1, 23]

In [7]:
d={'k1':{'innerkey':[1,2,3]}}
d['k1']

{'innerkey': [1, 2, 3]}

In [8]:
d['k1']['innerkey']

[1, 2, 3]

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Tuples

In [11]:
#Tuple have the heterogeneous values eg x-coordinate and y coordinate
point =(4,5)
point

(4, 5)

In [12]:
point[0]

4

# Sets

In [13]:
l =[1,1,1,2,2,3,3]
l

[1, 1, 1, 2, 2, 3, 3]

In [14]:
s = set(l)
s

{1, 2, 3}

In [15]:
s.add(4)

In [16]:
s

{1, 2, 3, 4}

# Lamda Function

In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

In [4]:
t = lambda var :var*2
t

In [5]:
t(6)

12

# Map and filter

In [6]:
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
list(map(lambda num :num*3,seq))

[3, 6, 9, 12, 15]

In [8]:
list(filter(lambda num :num%2 ==0,seq))

[2, 4]

In [9]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word:word[0]=='s',seq))

['soup', 'salad']

In [10]:
def domainGet(email):
    return email.split('@')[-1]

In [11]:
domainGet('user@domain.com')

'domain.com'

# Methods