In [1]:
print("Hello World")

Hello World

# Variables

In [2]:
# Variables
rent = 3500
khana = 100
lunch = 200
khana

100

In [3]:
item1 = "rent"
item2 ="dinner"
item3 ="lunch"
# Difference between displaying with print and without is the out
print("Expense Items:",item1,item2,item3)
item1

Expense Items: rent dinner lunch

'rent'

In [5]:
total = rent + 10*khana + 20*lunch
total

8500

# Strings

In [6]:
item1[0]

'r'

In [7]:
item1[1:]

'ent'

In [8]:
item1[:3]

'ren'

In [9]:
tweet ='UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."#AI #digitization #DigitAll #RingTheBell #genderequality #womenempowerment #techforgood'
tweet.split('#')

['UN Resident Coordinator Office Nepal held nuanced discussions on the equitable inclusion of Nepali women with regards to the digitization of finance."',
 'AI ',
 'digitization ',
 'DigitAll ',
 'RingTheBell ',
 'genderequality ',
 'womenempowerment ',
 'techforgood']

In [10]:
text = 'let"s learn Machine Learning'
print(text)
text

let"s learn Machine Learning

'let"s learn Machine Learning'

In [11]:
another_text = '"let\'s learn python first" -said Felix '
print(another_text)

"let's learn python first" -said Felix

In [12]:
address ='''28-kilo 
Dhulikhel
Kavre
'''
print(address)
address

28-kilo
Dhulikhel
Kavre

'28-kilo \nDhulikhel\nKavre\n'

# Inputs

In [13]:
num = 69
num = input("Enter a number: ")

type(num)

Enter a number: 54

str

In [14]:
num =42
float(num)

42.0

In [15]:
s = 'total states in Nepal is: '
num =7
s + str(num)

'total states in Nepal is: 7'

# Operators

In [1]:
distance = 28
speed = 18
time = distance/speed
time

1.5555555555555556

In [2]:
round(time,2)

1.56

In [3]:
6-5.7
#Accuracy and precision problem

0.2999999999999998

# Logical

In [6]:
#logical
num=7
num = int(num)
if num  == 0:
    print("Zero")
elif num %2 ==0:
    print("Even")
else:
    print("odd")

odd

In [7]:
3 > 2 and 4>1

True

In [8]:
3>2 and 3 ==2

False

In [9]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4==4:
    print("Second Last")
else:

    print('Last')

middle

# LOOPs:


item1 = "rent"
item2 ="dinner"
item3 ="lunch"
costs =[3500,6000,3000,4000,2000]
items =[item1,item2,item3]

print(items)
items+costs

In [2]:
len(costs)

5

In [3]:
costs

[3500, 6000, 3000, 4000, 2000]

In [4]:
sum = 0
for cost in costs:
    sum += cost
print(sum)

18500

In [6]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# To print 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
i=1
while i<=5 :
    print(i)
    i=i+1

1
2
3
4
5

In [10]:
"""Print square of all numbers between 1 to 10 except even numbers"""
for i in range(1,11):
    if i % 2 == 0:
        break
    else:
        print(i)

1

In [11]:
"""Print square of all numbers between 1 to 10 except even numbers"""
for i in range(1,11):
    if i % 2 == 0:
        break
    else:
        print(i)
else:
    print("Finished")

1

In [12]:
items[0]
for i in items[0]:
    print(i)

r
e
n
t

# Functions